        body {
            background-color: #2b3238;
            margin: 0;
            font-family: Arial, sans-serif;
            color: white;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        ::-webkit-scrollbar {
            width: 4px;
        }
        ::-webkit-scrollbar-track {
            background: #2b3238;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #4a555f;
            border-radius: 10px;
        }
        .container {
            padding: 20px;
        }
        .title {
            font-size: 27px;
            margin-bottom: 20px;
            color: #ffffff; /* 타이틀 폰트 색상 */
            font-weight: bold; /* 타이틀 폰트 볼드 */
        }
        .image {
            margin: 0 -20px; /* 이미지 컨테이너 좌우 -20px */
            text-align: center;
        }
        .image img {
            width: calc(100% - 20px); /* 이미지 좌우 20px 마진을 고려한 너비 계산 */
            max-width: 720px;
            height: auto;
        }
        .content {
            font-size: 17px;
            margin-top: 15px;
            color: #bdbdbd; /* 내용 폰트 색상 */
            font-weight: normal; /* 내용 폰트 볼드 설정 */
        }

	.content a {/*바로 가기를 위한 처리 스타일*/
	    color: #ffcc00;
	    text-decoration: none;
	    font-weight: bold;
	}

	.content a:hover {/*바로 가기를 위한 처리 스타일*/
	    text-decoration: underline;
	}
