body {
    background-color: #2b3238; /* 배경 색상 설정 */
    margin: 0; /* 여백 제거 */
    padding: 0;
    font-family: Arial, sans-serif; /* 기본 폰트 설정 */
    color: white; /* 기본 폰트 색상 */
    overflow-y: scroll; /* 수직 스크롤바 표시 */
    overflow-x: hidden; /* 수평 스크롤바 숨김 */
}

::-webkit-scrollbar {
    width: 4px; /* 스크롤바 너비 설정 */
}

::-webkit-scrollbar-track {
    background: #2b3238; /* 스크롤바 트랙 배경 색상 */
}

::-webkit-scrollbar-thumb {
    background-color: #4a555f; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 모서리 둥글게 설정 */
}

/* 타이틀 컨테이너 스타일 */
.title-container {
    padding: 0vw;
//    font-size: 3.4vw; /* 타이틀 폰트 크기 설정 */
    font-size: 5vw; /* 타이틀 폰트 크기 설정 */

}

.title {
    padding: 3vw;
    color: #ffffff; /* 타이틀 폰트 색상 */
    font-weight: bold; /* 타이틀 폰트 볼드 */
}

/* 이미지 컨테이너 스타일 */
.image-container {

}

.image {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}


/* 컨텐츠 컨테이너 스타일 */
.content-container {
    font-size: 2.2vw; /* 본문 폰트 크기 설정 */

}

.content {
    margin-top: 2.5vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color: #bdbdbd;
    font-weight: normal;
    line-height: 1.5;
}

.content a {
    color: #ffcc00; /* 링크 폰트 색상 */
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    text-decoration: underline;
}

/* 아이폰 전용 스타일 */
.ios .title {
    font-size: 4vw; /* 아이폰에서 타이틀 폰트 크기 설정 */
}

.ios .content {
    font-size: 2.5vw; /* 아이폰에서 본문 폰트 크기 설정 */
}
